@charset "UTF-8";
/* CSS Document */
/***************************/
/****************** Grneric */
.margin-bottom-25 {
	margin-bottom: 25px;
}
.margin-bottom-10 {
	margin-bottom: 10px;
}
.margin-left_0 {
	margin-left: 0px !important;
}
.my_green {
color: #72c02c;
}
/***************************/
/***************** Header */
#head-wrap {
	-webkit-font-smoothing: antialiased !important;
}
#head-wrap p, a, li {
line-height: 1.6;
}
#head-wrap .top-2 {
	top: 2px;
}
#head-wrap .header_bold {
	font-weight:bold !important;
}
#head-wrap .span12 {
	width: 940px;
}
#head-wrap [class*="span"] {
	float: left;
	min-height: 1px;
	margin-left: 20px;
}
@media(min-width:1200px){
#head-wrap .container {
	width: 1170px;
}
#head-wrap .logo {
	top:-35px !important;
	width:27.857%;
}
#head-wrap .input.span3 {
width: 256px;
}
#head-wrap input.span3 {
width: 256px;
}
#head-wrap .span12 {
width: 1170px;
}
#head-wrap [class*="span"] {
float: left;
min-height: 1px;
margin-left: 30px;
}
#head-wrap .nav-tabs>li {
	width:auto;
}
}
@media(min-width:979px) and (max-width:1199px){
#head-wrap .container {
	width: 940px;
	padding:0;
}	
.logo {
	/*top:-5px !important;
	width:20.833%;*/
	top:-20px !important;
	width:25.9%;
	left: -18px
}
#head-wrap .nav-tabs>li {
	width:auto;;
}
}
@media (max-width: 979px) and (min-width: 769px) {
#head-wrap .span12 {
	width: 724px;
}
#head-wrap [class*="span"] {
float: left;
min-height: 1px;
margin-left: 20px;
}
}
@media (max-width: 979px) and (min-width: 767px) {
	#head-wrap .nav-tabs>li {
	width:auto;
}
}
@media(max-width:979px){
#head-wrap .logo {
	top:-10px !important;
	width:200px;
}	
}
@media (max-width: 980px) {
#head-wrap .navbar .search-open .btn-u {
		width:64px;
}
}
input.span3 {
width: 206px;
}
#search-open-tab {
	border: 1px solid #ccc;
}
#head-wrap .navbar .nav {
	position: relative;
	left: 0;
	display: block;
	float: left;
	margin: 0 10px 0 0;
}
#head-wrap .nav-tabs>li {
	float: left;
}
@media(max-width:766px){
#head-wrap .nav-tabs>li {
	width:100%;
}
#head-wrap .nav-tabs>li a {
	text-align:left;
	line-height: 20px;
}
}
#head-wrap .nav-tabs a {
	font-size: 14px;
	padding: 5px 15px !important;
	text-transform: none;
}
#head-wrap .nav-tabs > li > a:hover { 
	color:#fff; 
	background:#72c02c; 
}
#head-wrap a {
	color: #555;
}
#head-wrap .navbar .nav > li > a.search {
	color:#FFF !important;
	cursor: pointer;
	background:none;
	padding: 9px 10px;
	font-weight: 300;
	text-shadow: 0 2px 0 #51a00b;	
	font-size:15px;
	border: solid 1px #51a00b;
	border-radius:2px;
	box-shadow:0 0 8px #666;
	
    -webkit-transition:box-shadow 0.2s ease-in-out;
    -moz-transition:box-shadow 0.2s ease-in-out;
    -o-transition:box-shadow 0.2s ease-in-out;
    transition:box-shadow 0.2s ease-in-out;
}
#head-wrap .navbar .nav > li > a.search:hover {
	color:#FFF !important;
	font-weight: 300;
	border: solid 1px #51a00b;
	border-radius:2px;
	box-shadow:0 0 8px #666;
	
    -webkit-transition:box-shadow 0.2s ease-in-out;
    -moz-transition:box-shadow 0.2s ease-in-out;
    -o-transition:box-shadow 0.2s ease-in-out;
    transition:box-shadow 0.2s ease-in-out;
}
#TandT {
	background-color:#72c02c;
}
#TandT:hover {
	background-color:#51a00b !important;
}
#head-wrap .form-group {
	margin-bottom: 0px;
}
#head-wrap .input-append,
#head-wrap .input-prepend {
	display: inline-block;
	margin-bottom: 10px;
	font-size: 0;	
	white-space: nowrap;
	vertical-align: middle;
}
#head-wrap .input-append input[class*="span"] {
	display: inline-block;
}
#head-wrap input[type="text"] {
	background-color: #fff;
	border: 1px solid #ccc;
	height: 30px;
	padding: 4px 6px;
	line-height: 20px;
	border-radius: 0px;
	color: #555;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border linear .2s,box-shadow linear .2s;
	-moz-transition: border linear .2s,box-shadow linear .2s;
	-o-transition: border linear .2s,box-shadow linear .2s;
	transition: border linear .2s,box-shadow linear .2s;
}
#head-wrap .btn-u {
	border: 0;
	font-size: 14px;
	cursor: pointer;
	padding: 5px 13px;
	position: relative;
	background: #72c02c;
	display: inline-block;
	color: #fff !important;
	text-decoration: none !important;
}
#head-wrap .navbar .search-open {
	right: 15px !important;
	top: 44px;
	display: none;
	padding: 15px;
	position: absolute;
	background: #fcfcfc;
	border-top: solid 2px #eee;
}
#head-wrap .navbar .nav > li > a:hover{
	background-color:transparent;
}
#head-wrap .navbar {
	position:initial;
	margin-bottom: 20px;
	overflow: visible;
	min-height:40px;
}
#head-wrap .navbar-inner {
min-height: 40px;
background-repeat: repeat-x;
}
#head-wrap .navbar-inner:before, .navbar-inner:after {
display: table;
line-height: 0;
content: "";
}
#head-wrap .navbar-inner:after {
clear: both;
}
#head-wrap .navbar .btn-navbar {
display: none;
float: right;
padding: 7px 10px;
margin-right: 5px;
margin-left: 5px;
color: #fff;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
background-color: #ededed;
background-image: -moz-linear-gradient(top,#f2f2f2,#e5e5e5);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#f2f2f2),to(#e5e5e5));
background-image: -webkit-linear-gradient(top,#f2f2f2,#e5e5e5);
background-image: -o-linear-gradient(top,#f2f2f2,#e5e5e5);
background-image: linear-gradient(to bottom,#f2f2f2,#e5e5e5);
background-repeat: repeat-x;
border-color: #e5e5e5 #e5e5e5 #bfbfbf;
border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2',endColorstr='#ffe5e5e5',GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.075);
-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.075);
box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.075);
}
#head-wrap .navbar .btn-navbar .icon-bar {
display: block;
width: 18px;
height: 2px;
background-color: #f5f5f5;
-webkit-border-radius: 1px;
-moz-border-radius: 1px;
border-radius: 1px;
-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.25);
-moz-box-shadow: 0 1px 0 rgba(0,0,0,0.25);
box-shadow: 0 1px 0 rgba(0,0,0,0.25);
}
@media (max-width: 979px){
#head-wrap .navbar .btn-navbar {
	display: block;
}
#head-wrap .nav-collapse, 
#head-wrap .nav-collapse.collapse {
height: auto;
overflow: hidden;
}
#head-wrap .nav-collapse {
clear: both;
}
#head-wrap .nav-collapse .nav>li {
float: none;
}
#head-wrap .navbar .nav-collapse .nav.pull-right {
	float: none !important;
	margin-left: 0;
}
#head-wrap .nav-collapse .nav>li>a,
#head-wrap .nav-collapse .dropdown-menu a {
padding: 9px 15px !important;
font-weight: normal !important;
color: #777 !important;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
#head-wrap .nav-collapse .nav>li>a:hover,
#head-wrap .nav-collapse .nav>li>a:focus {
background-color: #f2f2f2 !important;
}
#head-wrap .nav-collapse .nav>li#TandT>a:hover,
#head-wrap .nav-collapse .nav>li#TandT>a:focus {
background-color: #51a00b !important;
}
#head-wrap .nav-collapse .dropdown-menu a:hover, 
#head-wrap .nav-collapse .dropdown-menu a:focus {
	color:#FFF !important;
}
#head-wrap .nav-collapse .open>.dropdown-menu {
display: block;
}
#head-wrap .nav-collapse .dropdown-menu {
position: static;
top: auto;
left: auto;
display: none;
float: none;
max-width: none;
padding: 0;
margin: 0 15px;
background-color: transparent;
border: 0;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}
}
@media (min-width: 980px){
#head-wrap .nav-collapse.collapse {
	height: auto !important;
	overflow: visible !important;
	visibility:visible;
	display:block;
}
#head-wrap .navbar .nav>li {
float: left;
}
}
@media only screen and (max-width: 880px){
#head-wrap .navbar .nav > li > a {
font-size: 14px !important;
}
}
#head-wrap .btn [class^="icon-"],
#head-wrap .nav [class^="icon-"],
#head-wrap .btn [class*=" icon-"],
#head-wrap .nav [class*=" icon-"] {
display: inline;
line-height: .6em;
margin-top: 1px;
}
#head-wrap .btn-navbar .icon-bar+.icon-bar {
margin-top: 3px;
}
#head-wrap .btn {
margin-bottom: 0;
font-size: 14px;
line-height: 20px;
text-align: center;
vertical-align: middle;
cursor: pointer;
border-radius: 0px;
}

#head-wrap li [class^="icon-"], li [class*=" icon-"] {
display: inline-block;
width: 1.25em;
text-align: center;
}
#head-wrap [class^="icon-"], [class*=" icon-"] {
font-family: FontAwesome;
font-weight: normal;
font-style: normal;
text-decoration: inherit;
display: inline;
width: auto;
height: auto;
line-height: normal;
vertical-align: baseline;
background-image: none !important;
background-position: 0% 0%;
background-repeat: repeat;
}
#head-wrap .icon-envelope-alt:before {
content: "\f0e0";
}
#head-wrap .icon-phone-sign:before {
content: "\f098";
}

/***************************/
/***************** Shipment Tracking */
@media (max-width: 443px) {
#tblDesktop {
	display:none;
}
}
@media (min-width: 444px) {
#tblMobile {
	display:none;
}
}
@media (min-width: 768px) {
#map1 {
	width:100%;
	height:240px;
}
}
@media (max-height: 480px) {
#geocoding_form .modal-body {
	max-height:180px;
}
}
@media (max-height: 533px) {
#geocoding_form .modal-body {
	max-height:220px;
}
}
#tblDesktop tr:nth-child(odd),
#tblMobile tr:nth-child(odd){
	opacity:0.85;
}
#tblDesktop tr.d0,
#tblMobile tr.d1 {
	background:#CCC;
}
#tblDesktop tr.d1,
#tblMobile tr.d1 {
	background:#FFF;
}
#tblDesktop tr.d2,
#tblMobile tr.d2 {
	background:#9CF;
}
#tblDesktop tr.d3,
#tblMobile tr.d3 {
	background:#CFC;
}
#tblDesktop tr.d4,
#tblMobile tr.d4 {
	background:#C9F;
}
#tblDesktop tr.d5,
#tblMobile tr.d5 {
	background:#CCF;
}
#tblDesktop tr.d6,
#tblMobile tr.d6 {
	background:#FFC;
}
#tblDesktop tr.d7,
#tblMobile tr.d7 {
	background:#FCC;
}
#tblDesktop tr.d8,
#tblMobile tr.d8 {
	background:#CFC;
}
#tblDesktop tr.d9,
#tblMobile tr.d9 {
	background:#9FC;
}
#tblDesktop tr.d10,
#tblMobile tr.d10 {
	background:#CC6;
}
#tblDesktop tr.d11,
#tblMobile tr.d11 {
	background:#9F3;
}
#tblDesktop tr.d12,
#tblMobile tr.d12 {
	background:#FC0;
}
#tblDesktop tr.d13,
#tblMobile tr.d13 {
	background:#0CF;
}
#tblDesktop tr.d14,
#tblMobile tr.d14 {
	background:#6FC;
}
#tblDesktop tr.d15,
#tblMobile tr.d15 {
	background:#FF0;
}
#tblDesktop tr.d16,
#tblMobile tr.d16 {
	background:#F60;
}
#tblMobile th,
#tblMobile td {
	padding:3px;
}

/*	Footer	*/
#footer-area {
-webkit-font-smoothing: antialiased !important;
}
#footer-area .container {
padding-right: 0px;
padding-left: 0px;
}
#footer-area h3 {
	font-weight: 300 !important;
	line-height: 40px;
	font-size: 24.5px;
}
#footer-area p {
	font-weight: 200 !important;
}
#footer-area p,
#footer-area a,
#footer-area li {
line-height: 1.6;
}
#footer-area .footer {
	margin-top: 40px;
	padding: 20px 10px;
	background: #585f69;
	color: #dadada;
}
#footer-area .footer p, #footer-area .footer a {
	font-size: 14px;
}
#footer-area .row-fluid {
width: 100%;
}
#footer-area .row-fluid [class*="span"]:first-child {
margin-left: 0;
}
@media (min-width: 1200px) {
#footer-area .row-fluid:before,
#footer-area .row-fluid:after {
	display: table;
	line-height: 0;
	content: "";
}
#footer-area .row-fluid:after {
	clear: both;
}
#footer-area .row-fluid .span4 {
width: 31.623931623931625%;
}
#footer-area .row-fluid [class*="span"] {
display: block;
float: left;
min-height: 30px;
margin-left: 2.564102564102564%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
}
#footer-area .headline {
display: block;
margin: 10px 0 25px 0;
border-bottom: 1px dotted #e4e9f0;
}
#footer-area .headline h3,
#footer-area .headline h4 {
border-bottom: 2px solid #72c02c;
margin: 0 0 -2px 0;
padding-right: 10px;
display: inline-block;
}
#footer-area .footer h4,
#footer-area .footer h3 {
color: #e4e4e4;
background: none;
text-shadow: none;
font-family: 'Open Sans', sans-serif;
}
#footer-area .footer a,
#footer-area .copyright a,
#footer-area .footer a:hover,
#footer-area .copyright a:hover {
color: #72c02c;
}
#footer-area a.read-more {
font-weight: bold;
text-decoration: none;
}
.footer .input-medium {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
.footer button {
	vertical-align:inherit;
}
/*.blog #footer-area h3 {
	color:#e4e4e4;
}
*/
#footer-area form {
	margin: 0 0 20px;
}
#footer-area .form-inline input,
#footer-area .form-inline .input-append {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
}
#footer-area input[type="text"] {
	background-color: #fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border linear .2s,box-shadow linear .2s;
	-moz-transition: border linear .2s,box-shadow linear .2s;
	-o-transition: border linear .2s,box-shadow linear .2s;
	transition: border linear .2s,box-shadow linear .2s;
}
#footer-area input[type="text"] {
	display: inline-block;
	height: 20px;
	padding: 4px 6px;
	font-size: 14px;
	line-height: 20px;
	color: #555;
	vertical-align: middle;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
#footer-area .input-medium {
	width: 150px;
}
#footer-area .btn-u {
	border: 0;
	font-size: 14px;
	cursor: pointer;
	padding: 5px 13px;
	position: relative;
	background: #72c02c;
	display: inline-block;
	color: #fff !important;
	text-decoration: none !important;
	float:right;
}
@media (max-width: 767px) {
.input-append input {
	display: inline-block;
	width: auto;
}
}
#footer address {
	font-size: 13px;
	display:block;
	line-height: 20px;
}
/*Posts*/
#footer-area .footer .dl-horizontal img {
border-color: #888 !important;
}
#footer-area .posts .dl-horizontal { 
	margin-bottom:0;
	padding:3px;
	border-right:solid 2px #eee;
	margin-top:13px;
}
#footer-area .posts .dl-horizontal:hover { 
	border-right:solid 2px #72c02c;
	-webkit-transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
}
#footer-area .posts .dl-horizontal dt { 
	width:56px; 
	float:left;
}
#footer-area .posts .dl-horizontal dt img { 
	width:50px; 
	height:50px; 
	border:solid 3px #eee;
}
#footer-area .posts .dl-horizontal dd { 
	margin-left:66px;
}
#footer-area .posts .dl-horizontal dd p { 
	margin:0;
}
#footer-area .posts .dl-horizontal a {
	font-size:15px;
	line-height:14px !important; 
}
#footer-area .posts .dl-horizontal a:hover { 
	color:#72c02c; 
	text-decoration:none;
}
#footer-area .posts .dl-horizontal:hover dt img,
#footer-area .posts .dl-horizontal:hover dd a { 
	color:#72c02c;
	border-color:#72c02c !important;
	-webkit-transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
}
#footer-area .footer .dl-horizontal,
#footer-area .footer .dl-horizontal:hover {
	border:none !important;
	background:none !important;
}
#footer-area .dl-horizontal dt {
float: left;
width: 160px;
overflow: hidden;
clear: left;
text-align: right;
text-overflow: ellipsis;
white-space: nowrap;
}
#footer-area dt {
font-weight: bold;
}
#footer-area dt, 
#footer-area dd {
line-height: 20px;
}
#footer-area .posts .dl-horizontal a {
font-size: 15px;
line-height: 14px !important;
font-weight: 200 !important;
}
#footer-area .footer .dl-horizontal a {
color: #dadada;
}
/*Copyright*/
#footer-area .copyright {
	font-size:12px;
	padding:5px 10px;
	background:#3e4753;
	border-top:solid 1px #777;	
}
#footer-area .copyright p {
	color:#dadada;
}
#footer-area .copyright a {
	margin:0 5px;
	color:#72c02c;
}
#footer-area .copyright a:hover {
	color:#a8f85f;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}
#footer-area .copyright .span8 {
	padding-top:15px;
}
#footer-area .copyright .span4 {
	padding-top:10px;
}
@media (min-width: 1200px) {
#footer-area .row-fluid [class*="span"]:first-child {
	margin-left: 0;
}
#footer-area .row-fluid .span4 {
	width: 31.623931623931625%;
}
#footer-area .row-fluid .span8 {
	width: 65.81196581196582%;
}
}
@media (max-width: 767px) {
#footer-area [class*="span"], #footer-area .uneditable-input[class*="span"], #footer-area .row-fluid [class*="span"] {
display: block;
float: none;
width: 100%;
margin-left: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
#footer-area .span4 .pull-right {
float: right !important;
}
}
#footer-area .social-icons {
	margin: 0;
}
#footer-area .social-icons li {
float: left;
display: inline;
list-style: none;
margin-right: 5px;
margin-bottom: 5px;
text-indent: -9999px;
}
#footer-area .social-icons li a, a.social-icon {
	width:28px;
	height:28px;
	display:block;
	background-position:0 0;
	background-repeat:no-repeat;
	transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
#footer-area .social-icons li:hover a {
	background-position:0 -38px;
}
#footer-area .social_googleplus {background: url(../../../../../../../assets/img/icons/social/googleplus.png) no-repeat;}